.tm-app {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: calc(2.25vw + 8px);
}

@media screen and (min-width: 1024px) {
    .tm-app {
        flex-direction: row;
    }

    .tm-editor {
        border-top-left-radius: 100px;
    }

    .tm-display {
        border-top-right-radius: 100px;
    }
}