@font-face {
    font-family: 'Poppins';
    src: url('../assets/fonts/poppins/poppins.woff2') format('woff2'),
        url('../assets/fonts/poppins/poppins.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: hsla(240, 2%, 13%, 0.9);
}

button {
    background-color: #f0fff069;
    font-size: clamp(1rem, 2.1593vw + 0.107rem, 1.5rem);
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 15px;
    border: 2.5px solid #11111180;
    font-size: 1rem;
    font-size: clamp(1rem, 1.2525vw + 0.167rem, 1.6125rem);
}

input:focus,
select:focus {
    outline: none;
    border: 2px solid #111111;
}

::placeholder,
option {
    color: #1f1f1f;
    opacity: 1;
}

h2 {
    font-size: 1rem;
    font-size: clamp(0.75rem, 2.593vw + 0.167rem, 2.25rem);
}

table {
    border-spacing: 0;
}

.small-text {
    font-size: 0.75rem;
    font-size: clamp(0.75rem, 0.37vw + 0.667rem, 1.25rem);
}

.large-text {
    font-size: 1rem;
    font-size: clamp(1rem, 2.593vw + 0.167rem, 3rem);
}

.larger-text {
    font-size: 1.5rem;
    font-size: clamp(1.5rem, 3vw + 0.27rem, 5rem);
}

.normal-text {
    font-size: 0.9rem;
    font-size: clamp(.8rem, 2.2593vw + 0.147rem, 2.5rem);
}

.italic-text {
    font-style: italic;
}

.btn-width-max {
    width: 100% !important;
}

.color-selected {
    color: rgba(0, 169, 0, 0.5);
}