.tm-app {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: calc(2.25vw + 8px);
}
@media (min-width: 1024px) {
  .tm-app {
    flex-direction: row;
  }
}

.tm-editor {
  background-color: hsla(32, 82%, 83%, 0.75);
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  display: flex;
  flex-direction: column;
  gap: 5dvh;
  max-width: 1440px;
  min-width: 320px;
  padding: calc(1.125vw + 4px);
  width: 100%;
}
@media (min-width: 1024px) {
  .tm-editor {
    border-bottom-left-radius: 0;
    border-top-left-radius: 100px;
  }
}
.tm-editor th,
.tm-editor td {
  border: 1px solid rgba(37, 37, 37, 0.6274509804);
  font-size: 0.75rem;
  font-size: clamp(0.5rem, 0.3vw + 0.5rem, 1rem);
  text-align: center;
}
.tm-editor .display-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.tm-display {
  background-color: hsla(337, 63%, 82%, 0.667);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 1440px;
  min-height: 100dvh;
  min-width: 320px;
  padding: calc(1.125vw + 4px);
  width: 100%;
  /*  */
}
@media screen and (min-width: 1024px) {
  .tm-display {
    border-bottom-left-radius: 0px;
    border-top-right-radius: 100px;
  }
}

.state-table-wrapper,
.transition-table-wrapper {
  max-height: 250px;
  min-height: 100px;
  overflow-y: scroll;
}

.state-table,
.transition-table {
  width: 100%;
}

.input-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 2.5dvh;
}

.input-state,
.input-tape,
.input-transition {
  display: flex;
  flex-direction: row;
}

.input-transition {
  align-items: center;
  gap: 2.5dvw;
}

.editor-display-tape {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tape-text {
  font-size: 1.5rem;
  font-size: clamp(1.25rem, 2.25vw + 0.227rem, 3.5rem);
  max-width: 75%;
  min-height: 50px;
  min-width: 45%;
  overflow-x: scroll;
  text-align: center;
}

.editor-display-state {
  height: 500px;
  margin-right: 5dvw;
  min-width: 25%;
}

.editor-display-transitions {
  height: 500px;
}

.editor-generate-button {
  display: flex;
  justify-content: flex-end;
}
.editor-generate-button .generate-button {
  width: 50%;
}

.tape-cell {
  background-color: rgba(0, 0, 0, 0.2);
  border: 3px inset hsla(0, 0%, 0%, 0.55);
  margin: 0rem;
  padding: 0.75rem;
}
.tape-cell.current {
  background-color: rgba(0, 169, 0, 0.5019607843) !important;
}

.tm-display .tape-display {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}
.tm-display .state-display {
  display: flex;
  flex-direction: column;
}
.tm-display .state-display .state-set {
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.tm-display .state-display .state-current {
  display: flex;
  justify-content: space-between;
  width: 90%;
}

.state-diagram {
  height: 50%;
  border: 5px solid #333;
}